<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xA1QHRBmVbFzjkj5FsbBfCR04tNUiPKPaa8t1Q9Vqbygg3+7QO8JlKzF2xlMyEag+CUU4z/fxJcc7db6J6ccfA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inder&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/homesec2.css">
    <link rel="stylesheet" href="/css/homesec.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>ANIDASH | DASHBOARD</title>

</head>
<body>
    
    <div id='navbar' class="navbar">
        <img class="Logoicon" src="/images/anidash.png ">

        <div class="nav-links">
            <a href="/landingpage.ejs"><i class="fas fa-home"></i>Home</a>
            <a href="anime.ejs">Animes</a>
            <a href="https://discord.gg/Z5V5R4rF8Z">Discord</a>
        </div>

        <div class="user-actions">
            <% if (isLoggedIn) { %>
                <button style="background-color: #5a2e98;" class="login-button" onclick="window.location.href='/profile'"><%= username %></button>
            <% } else { %>
                <button class="login-button" onclick="window.location.href='/login'">Login <span class="span-loginpfeil">&#10140;</span></button>
            <% } %>
            <div class="language-dropdown">
                <span>Sprache</span>
                <div class="dropdown-content">
                    <a href="#">English</a>
                    <a href="#">Deutsch</a>
                </div>
            </div>
        </div>
    </div>


    <% for (let i = 0; i < animes.length; i++) { %>
        <form action="/animes/<%= animes[i].id %>" method="GET">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= animes[i].image %>" class="card-img-top" alt="Anime Image">
                    <div class="card-body">
                            <h5 class="card-title"><%= animes[i].name %></h5>
                            <p class="card-text">Description: <%= animes[i].description %></p>
                            <p class="card-text">Keywords: <%= animes[i].keywords %></p>
                            <input type="submit" value="Infos">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<% } %>

</body>
</html>